include m_header.jade
        form(method='post',action='/m/edit?id='+post.id)
            |标题：
            br
            input(type="text", name="title", value=post.title)
            br
            |副标题：
            br
            input(type="text", name="subtitle", value=post.subtitle)
            br
            |正文：
            br
            textarea(name='post', rows='20', cols='100') !{post.post}
            br
            input(type='submit', value='提交修改')
