doctype html
head(lang='en')
include u_header.jade
  body
    include u_navbar.jade
    
    header.intro-header(style="background-image: url('img/about-bg.jpg')")
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            .page-heading
              h1 About Us
              |                         
              hr.small
              |                         
              span.subheading 一群有着梦想的码农.
              
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          p
            | 生命是一团欲望，欲望不能满足便痛苦，满足便无聊，人生就在痛苦和无聊之间摇摆
          |                 
          p
            | 时间是无限的，人的生命是有限的，人为了用有限的时间去抗衡无限的时间而采取了繁殖这一手段，让自己的生命时间得以延续。这是人类繁殖的本能。
          |                 
          p
            | 日常生活中的琐碎事情常叫我们激动、焦虑、烦恼、热情，就是因为它在我们的眼前，让我们看着它觉得是多么的硕大，又是多么的重要而严峻。可是，一旦它们全部消失在时间的长河里时，就失去了自身的任何价值，只要我们不再想它，它就在我们的记忆中逐步消失。它们之所以如此硕大，就是因为离我们很近的缘故。
    include u_footer.jade